<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.froop.app.kegs"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:theme="@style/Theme.BlackBackground" android:icon="@drawable/icon"
        android:label="@string/app_name" android:description="@string/app_description" android:allowBackup="true">

    <activity android:name="KegsMain" android:launchMode="singleInstance" android:configChanges="orientation|keyboard|keyboardHidden|screenSize" android:theme="@style/Theme.BlackBackground" android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>

    </activity>
    </application>
</manifest>
